
@{
    ViewBag.Title = "Password Reset completed";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Succesfully Reset Your password</h2>

Your password reset has been processed succesfully, Please  login using new Password @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

