@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    PBNO 1423<br />
    PCC 133<br />
    <abbr title="Phone">P:</abbr>
    2565417
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anwar.parbil@banknizwa.om">anwar.parbil@banknizwa.om</a><br />
    <strong>Marketing:</strong> <a href="mailto:anwar.parbil@banknizwa.om">anwar.parbil@banknizwa.om</a>
</address>